@using BlazorComponentDateTime.Client.Models
@inject SystemWatch watch
@implements IAsyncDisposable

<div class="date-group">
    @switch (WatchFormat)
    {
        case WatchFormat.None:
            <p class="default-watch">@systemWatch</p>
            break;
        case WatchFormat.WithSeconds:
            <p class="watch-with-date">@systemWatch</p>
            break;
        case WatchFormat.WithBlinking:
            <p class="default-watch">@watchLeftPart<e class="@blinkStyleSeparator">@separator</e>@watchRightPart</p>
            break;
        case WatchFormat.WithSecondsAndBlinking:
            <p class="default-watch">@watchLeftPart<e class="@blinkStyleSeparator">@separator</e>@watchRightPart</p>
            break;
        case WatchFormat.Undefined:
        default:
            <p class="watch-with-date">@systemWatch</p>
            break;
    }

    @switch (DateFormat)
    {
        case DateFormat.None:
            
            break;
        case DateFormat.WithLongDate:
        case DateFormat.WithShortDate:
            <p class="date-field">@systemDate</p>
            break;
        case DateFormat.Undefined:
        default:
            <h1>@systemWatch</h1>
            break;
    }
</div>