@page "/"
@using BlazorComponentDateTime.Client.Models

<PageTitle>Index</PageTitle>

<div>
    <p>
        Display 24h
        <input type="checkbox" checked=@is24h @bind-value="@is24h" />
    </p>
</div>

<h2>Benchmark</h2>
<div class="element-container">
    <div class="title">Time with blinking .NET timer</div>
    <SystemWatchComponent ClockDisplay="WatchDisplayEnum.WithSecondsAndBlinking" Is24H=is24h EnableJsTime="false" />
</div>
<div class="element-container">
    <div class="title">Time with blinking JS</div>
    <SystemWatchComponent ClockDisplay="WatchDisplayEnum.WithSecondsAndBlinking" Is24H=is24h EnableJsTime="true" />
</div>




<hr/>
<h2>Samples</h2>
<div class="element-container">
    <div class="title">Standard time</div>
    <SystemWatchComponent Is24H=is24h />
</div>
<div class="element-container">
    <div class="title">Time with blinking</div>
    <SystemWatchComponent ClockDisplay="WatchDisplayEnum.WithBlinking" Is24H=is24h EnableJsTime="@EnableJsTime" />
</div>
<div class="element-container">
    <div class="title">Time with seconds</div>
    <SystemWatchComponent ClockDisplay="WatchDisplayEnum.WithSeconds" Is24H=is24h EnableJsTime="@EnableJsTime"/>
</div>
<div class="element-container">
    <div class="title">Time with blinking and seconds</div>
    <SystemWatchComponent ClockDisplay="WatchDisplayEnum.WithSecondsAndBlinking" Is24H=is24h EnableJsTime="@EnableJsTime"/>
</div>
<div class="element-container">
    <div class="title">Standard time with long date format</div>
    <SystemWatchComponent DateDisplay="DateDisplayEnum.WithLongDate" Is24H=is24h EnableJsTime="@EnableJsTime"/>
</div>
<div class="element-container">
    <div class="title">Standard time with short date format</div>
    <SystemWatchComponent DateDisplay="DateDisplayEnum.WithShortDate" Is24H=is24h EnableJsTime="@EnableJsTime"/>
</div>
<div class="element-container">
    <div class="title">Standard time with long date format with seconds</div>
    <SystemWatchComponent DateDisplay="DateDisplayEnum.WithLongDate" ClockDisplay="WatchDisplayEnum.WithSeconds" Is24H=is24h EnableJsTime="@EnableJsTime"/>
</div>
<div class="element-container">
    <div class="title">Standard time with short date format blinking</div>
    <SystemWatchComponent DateDisplay="DateDisplayEnum.WithShortDate" ClockDisplay="WatchDisplayEnum.WithSecondsAndBlinking" Is24H=is24h EnableJsTime="@EnableJsTime"/>
</div>
